	<script src="/js/typeahead-0.11.1.bundle.min.js"></script>
	<script src="/js/quicksearch.js"></script>

	<!-- FontAwesome 6 -->
	<script id="fa-script" async src="https://kit.fontawesome.com/b5775b608d.js" crossorigin="anonymous"></script>
	<script>
	    document.getElementById('fa-script').onerror = function () {
	        var scriptElement=document.createElement('script');
	        scriptElement.type = 'text/javascript';
	        scriptElement.src = "https://cdn.cul.columbia.edu/fontawesome/pro/v6.x/js/all.js";
	        document.body.appendChild(scriptElement);
	    }
	</script>

  </body>
</html>

