<div id="main-menu">
	<ul class="list-unstyled w-100">
		<li class="mb-1">
			<button class="btn btn-toggle ps-0 d-inline-flex w-100 align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#services-and-tools-collapse" aria-expanded="false">
				Services &amp; Tools
			</button>
			<div class="collapse" id="services-and-tools-collapse">
				<ul class="btn-toggle-nav list-unstyled fw-normal pb-1">
					<li><a class="d-block" href="/services.html">Services &amp; Tools</a></li>
					<li><a class="d-block" href="/services/faq.html">FAQ</a></li>
					<li><a class="d-block" href="/using-libraries/alumni.html">For Alumni</a></li>
					<li><a class="d-block" href="/services/faculty.html">For Faculty</a></li>
					<li><a class="d-block" href="/services.html#audience=student">For Students</a></li>
					<li><a class="d-block" href="/using-libraries/visitors.html">For Visitors</a></li>
				</ul>
			</div>
		</li>
		<li class="mb-1">
			<button class="btn btn-toggle ps-0 d-inline-flex w-100 align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#libraries-collapse" aria-expanded="false">
				Libraries
			</button>
						<div class="collapse" id="libraries-collapse">
							<ul class="btn-toggle-nav list-unstyled fw-normal pb-1">
								<li><a class="d-block" href="/libraries.html">Libraries &amp; Affiliates</a></li>
								<li><a class="d-block" href="/libraries/avery.html">Avery Architectural &amp; Fine Arts Library</a></li>
								<li><a class="d-block" href="/libraries/burke.html">Burke Library at Union Theological Seminary</a></li>
								<li><a class="d-block" href="/libraries/business.html">Business &amp; Economics Library in Uris</a></li>
								<li><a class="d-block" href="/libraries/business-manhattanville.html">Business Library at Manhattanville</a></li>
								<li><a class="d-block" href="/libraries/butler.html">Butler Library</a></li>
								<li><a class="d-block" href="/libraries/eastasian.html">C.V. Starr East Asian Library</a></li>
								<li><a class="d-block" href="/libraries/music.html">Gabe M. Wiener Music &amp; Arts Library</a></li>
								<li><a class="d-block" href="https://library.cumc.columbia.edu/">Health Sciences Library</a></li>
								<li><a class="d-block" href="/libraries/journalism.html">Journalism Library</a></li>
								<li><a class="d-block" href="http://www.law.columbia.edu/library/">Law Library</a></li>
								<li><a class="d-block" href="/libraries/lehman.html">Lehman Social Sciences Library</a></li>
								<li><a class="d-block" href="/libraries/math.html">Mathematics Library</a></li>
								<li><a class="d-block" href="/libraries/undergraduate.html">Milstein Undergraduate Library</a></li>
								<li><a class="d-block" href="/libraries/rbml.html">Rare Book &amp; Manuscript Library</a></li>
								<li><a class="d-block" href="/libraries/science-engineering.html">Science &amp; Engineering Library</a></li>
								<li><a class="d-block" href="/libraries/social-work.html">Social Work Library</a></li>
							</ul>
						</div>
		</li>
		<li class="mb-1">
			<button class="btn btn-toggle ps-0 d-inline-flex w-100 align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#collections-collapse" aria-expanded="false">
				Collections
			</button>
						<div class="collapse" id="collections-collapse">
							<ul class="btn-toggle-nav list-unstyled fw-normal pb-1">
								<li><a class="d-block" href="/collections.html">About Our Collections</a></li>
								<li><a class="d-block" href="https://academiccommons.columbia.edu/">Academic Commons</a></li>
								<li><a class="d-block" href="/collections/archives-portal.html">Archival Collections</a></li>
								<li><a class="d-block" href="https://resolver.library.columbia.edu/clio">CLIO: Columbia Libraries Catalog</a></li>
								<li><a class="d-block" href="/collections/digital-collections.html">Digital Collections &amp; Exhibitions</a></li>
								<li><a class="d-block" href="/collections/eresources.html">E-Resources</a></li>
								<li><a class="d-block" href="/collections/oral-history-portal.html">Oral History Collections</a></li>
								<li><a class="d-block" href="https://resolver.library.columbia.edu/lweb0004">Recommend a Title for Purchase</a></li>
								<li><a class="d-block" href="/about/staff/subject-specialists-by-subject.html">Subject Specialists</a></li>
							</ul>
						</div>
		</li>
		<li class="mb-1">
			<button class="btn btn-toggle ps-0 d-inline-flex w-100 align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#using-collapse" aria-expanded="false">
				Using the Libraries
			</button>
						<div class="collapse" id="using-collapse">
							<ul class="btn-toggle-nav list-unstyled fw-normal pb-1">
								<li><a class="d-block" href="/using-libraries.html">Using the Libraries</a></li>
								<li><a class="d-block" href="/using-libraries/access-privileges.html">Access Privileges</a></li>
								<li><a class="d-block" href="/using-libraries/disability.html">Accessibility</a></li>
								<li><a class="d-block" href="/using-libraries/borrowing.html">Borrow, Request, Renew</a></li>
								<li><a class="d-block" href="/services/reserves.html">Course Reserves</a></li>
								<li><a class="d-block" href="https://hours.library.columbia.edu/">Hours</a></li>
								<li><a class="d-block" href="/using-libraries/printing.html">Print, Scan, Digitize</a></li>
								<li><a class="d-block" href="/using-libraries/workshops.html">Workshops and Training</a></li>
							</ul>
						</div>
		</li>
		<li class="mb-1">
			<button class="btn btn-toggle ps-0 d-inline-flex w-100 align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#research-and-teaching-collapse" aria-expanded="false">
				Research &amp; Teaching
			</button>
						<div class="collapse" id="research-and-teaching-collapse">
							<ul class="btn-toggle-nav list-unstyled fw-normal pb-1">
								<li><a class="d-block" href="/research-teaching.html">Research &amp; Teaching</a></li>
								<li><a class="d-block" href="https://copyright.columbia.edu/index.html">Copyright Advisory Services</a></li>
								<li><a class="d-block" href="/services/digital-scholarship.html">Digital Scholarship</a></li>
								<li><a class="d-block" href="/research-teaching/getting-started.html">Getting Started with the Libraries</a></li>
								<li><a class="d-block" href="/services/research-data-services.html">Research Data Services</a></li>
								<li><a class="d-block" href="/services/subject-guides.html">Subject &amp; Course Guides</a></li>
								<li><a class="d-block" href="/research-teaching/workshops.html">Workshops &amp; Training</a></li>
							</ul>
						</div>
		</li>
		<li class="mb-1">
			<button class="btn btn-toggle ps-0 d-inline-flex w-100 align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#about-collapse" aria-expanded="false">
				About
			</button>
						<div class="collapse" id="about-collapse">
							<ul class="btn-toggle-nav list-unstyled fw-normal pb-1">
								<li><a class="d-block" href="/about.html">About the Libraries</a></li>
								<li><a class="d-block" href="/about/jobs-internships.html">Jobs &amp; Internships</a></li>
								<li><a class="d-block" href="/about/news/alert.html">Library Status Updates</a></li>
								<li><a class="d-block" href="/about/news.html">News</a></li>
								<li><a class="d-block" href="/about/values.html">Our Values &amp; Commitment in Action</a></li>
								<li><a class="d-block" href="/about/staff.html">Staff</a></li>
								<li><a class="d-block" href="https://strategicdirections.library.columbia.edu/">Strategic Directions</a></li>
								<li><a class="d-block" href="/about/student_advisory_committee.html">Student Library Advisory Committee</a></li>
							</ul>
						</div>
		</li>
	</ul>
</div>
